.menu {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(var(--basePadding) * 2);
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  background-color: $c-white;
  z-index: 2;
  transition: opacity .3s ease, visibility .3s ease-in-out;

  &--hidden {

    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &__content {

    height: 100%;
  }

  &__list {

    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(32);
    overflow-y: auto;
    scroll-behavior: smooth;
    list-style: none;
  }

  &__item {

    padding: var(--basePadding);
    color: $c-black;
    font-size: var(--fontSizeMenu);
    word-break: break-all;
    text-align: center;
  }
}

.menu-trigger {

  display: block;
  width: var(--menuSize);
  height: var(--menuSize);
  margin-left: auto;

  svg {

    width: 100%;
    height: auto;
  }
}
