
@font-face {

  font-family: 'neue_hans_kendrickregular';
  src: url('../fonts/neuehanskendrick-regular-webfont.woff2') format('woff2'),
    url('../fonts/neuehanskendrick-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
