:root {
  --basePadding: #{rem(8)};
  --baseShadow: #{rem(8)};
  --fontSizeCard: #{rem(12)};
  --fontSizeMenu: large;
  --headlineFontSize: #{rem(12)};
  --logoMargin: #{rem(4)};
  --logoSize: #{rem(12)};
  --menuSize: #{rem(32)};
  --monkeyWidth: 80%;
  --sectionPadding: #{rem(8)};
}

@media screen and (min-width: 376px) {
  :root {
    --basePadding: #{rem(16)};
    --monkeyWidth: 100%;
    --sectionPadding: #{rem(16)};
  }
}

@media screen and (min-width: 768px) {
  :root {
    --basePadding: #{rem(16)};
    --baseShadow: #{rem(16)};
    --fontSizeCard: #{rem(16)};
    --fontSizeMenu: x-large;
    --headlineFontSize: #{rem(16)};
    --logoMargin: #{rem(6)};
    --logoSize: #{rem(20)};
    --menuSize: #{rem(48)};
    --monkeyWidth: 100%;
    --sectionPadding: #{rem(16)};
  }
}
